body {
  margin :0;
  padding: 0;
  font-family:"Avenir Next";
  min-width:1280px;
}

ul {
  list-style: none;
}

h1 {
  font-family:"Avenir Next";
  font-size: 56px;
  font-weight: 700;
  color:#0bc8b6;
}

h2, h3 {
  font-family: "Lato";
  color :#2b546a;
  font-weight: 300;
}

h2 {
  font-size: 24px;
  margin-top: 8px;
}

h3 {
  font-size:20px;
  border-bottom:1px solid #e1e6ec;
  line-height: 64px;
  margin-bottom: 40px;
}

.header {
  height: 60px;
  width:100%;
  background-color: rgba(34,49,52,0.9);
  position:fixed;
  top:0;
  z-index:10;
}

.header-logo img {
  height: 60px;
  width: auto;
  float:left;
}

.header-list li {
  float: right;
}

.header-list a {
  text-decoration: none;
  line-height:30px ;
  padding:0px 20px;
  color: white;
  display:block;
  transition: all 0.5s;
}
.header-list a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.main-wrapper {
  background-color: #f4fafa;
}

.main {
  max-width: 1040px;
  margin: 0 auto;
  padding:96px 0;
}

.certification-container {
  margin-top: 64px;
  display: flex;
  flex-flow: row wrap;
  text-align:center;
}

.certification-card {
  width: 320px;
  height: 320px;
  margin-right: 13px;
  margin-left:13px;
  box-shadow:0 0 6px #e8e8e8;
  background-color: #fff;
  cursor: pointer;
  justify-content:center;
}

.certification-item {
  border-radius: 4px;
  padding: 10px 0 64px;
}

.certification-item img {
  width:180px;
  height:auto;
}

.certification-item p {
  color: #2b546a;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}

.modal-inner {
  position: absolute;
  top:8%;
  right: 0;
  left: 0;
  width: 480px;
  padding-bottom: 60px;
  margin: auto;
  background-color:rgb(255, 255, 255);
  border-radius: 8px;
}

.modal-header {
  height: 8px;
  width: 100%;
  margin-bottom: 60px;
  border-radius: 8px 8px 0 0;
}

.modal-supplement p {
  color: #5876a3;
  width: 384px;
  line-height: 32px;
  text-align: left;
  margin: 36px auto 40px;
}

.modal-close-btn {
  font-size: 13px;
  color: #8491a5;
  width: 200px;
  padding: 16px 0 ;
  border: 0;
  background-color: #f0f4f9;
  cursor: pointer;
}

.modal-close-btn:hover {
  color: #8491a5;
  background-color:#ccd9ea;
  transition: .3s ease-in-out;
}

.contact-container {
  margin-top:96px;
}

.contact-form p {
  color: #8491a5;
  margin-top: 32px;
  margin-bottom: 8px;
}

.contact-form p.contact-message-error {
  color: #ff4d75;
  margin-top: 8px;
}

.contact-form input,
.contact-form textarea {
  box-sizing: border-box;
  background-color: #fff;
  color:#8491a5;
  width: 480px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #bac6d3;
  border-radius: 3px;
  display: block;
}

.contact-form input {
  height: 48px;
}

.contact-form textarea {
  height: 184px;
}

.contact-form input[type=submit] {
  color: #fff;
  width: 184px;
  height: 48px;
  font-size: 13px;
  background-color:#30c8d6;
  border: none;
  margin-top: 32px;
}

.contact-form input[type=submit]:hover {
  cursor: pointer;
}

.contact-submit-message {
  box-sizing:border-box;
  color:#16a48a;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 20px;
  background-color: rgba(48,214,184,0.16);
  border: 2px solid #30d6b8;
  border-radius: 3px;
}


.footer {
  padding: 80px 0;
}

.footer-inner {
  max-width: 1040px;
  margin: 0 auto;
}

.footer-inner ul {
  float:right;
}

.footer-inner li {
  color: #2b546a;
  display: inline-block;
  padding-left: 16px;
}

.main-wrapper span {
  color:#2e89f8;
  font-size: 24px;
}

.aboutText {
  color:#505966;
  font-family:Euclid Circular,Arial,sans-serif,Helvetica;
  font-size:20px;
}
